/** Override Twenty Twenty-One Variables */
$default_width: 740px;
$max_content_width: 1280px;
$breakpoint_sm: 482px;
$breakpoint_md: 592px;
$breakpoint_lg: 740px;
$breakpoint_xl: 1128px;
$breakpoint_xxl: 1440px;
