#__bs_notify__ {
  padding: 10px 12px 12px !important;
  background-color: rgba(27, 32, 50, 0.8) !important;
  font-size: 14px !important;
  line-height: 1;
}

.debug {
  // @include font-smoothing(auto);
  width: 100%;
  // width: calc(100% - (16px * 2));
  // height: auto;
  // height: 34px; // 1 lines
  height: 56px; // 2 lines
  // height: 122px; // 5 lines
  // max-height: 34px; // 1 lines
  // max-height: 56px; // 2 lines
  margin: 1rem 0 0;
  padding: 4px 11px 9px;
  border-radius: 3px;
  border: 1px solid rgba(black, 0.8);
  background-color: rgba(black, 0.8);
  color: white;
  overflow: auto;
  white-space: pre;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  transition:
    height 0.2s, // match height transition-duration for an accordian effect
    background-color 0.4s;

  &:first-child,
  & + & {
    margin-top: 0;
  }

  .wp-admin & {

    &:first-child,
    &:first-child + .debug,
    &:first-child + .debug + .debug {
      width: auto;
      margin: 20px 20px 20px (160px + 20px);
    }
  }

  // grammarly-btn + &,
  // grammarly-ghost + & {
  //   margin-top: 1rem;
  // }
}

pre.debug {
  height: auto;
  min-height: 56px; // 2 lines
  max-height: 408px; // 15 lines
}

textarea.debug {
  cursor: initial !important;

  &[readonly] {
    // border-color: black;
    // background-color: white;
    // color: black;
  }

  &:focus {
    height: 408px; // 15 lines
    // max-height: 408px; // 15 lines
    // outline: 0;
    border: 1px solid black;
    background-color: lighten(black, 5%);
    color: white;
    transition:
      height 0.2s, // match height transition-duration for an accordian effect
      background-color 0.2s;
  }
}
