body.login {

    h1 {
      margin-right: auto;
      margin-left: auto;

      a {
        display: block;
        width: auto;
        height: 0; // 54px
        margin: 0 16px;
        margin-bottom: 20px;
        padding-top: calc(54 / 274 * 100%);
        background: no-repeat 0 0 url('../images/logo.svg');
        // background-size: 100%;
        background-size: contain; // visually offset logo.svg padding-right
      }
    }
  }
